## 02. Analysis Seoul Crime

## 1. 프로젝트 개요

## 2. 데이터 개요

In [18]:
import numpy as numpy
import pandas as pd

In [19]:
# 데이터 읽기
crime_raw_data = pd.read_csv("../data/02. crime_in_Seoul.csv", thousands=",", encoding="euc-kr") 
# thousands 숫자값을 (,) 떄문에 문자열로 인식할 수 있어서 설정
crime_raw_data.head()

   구분  죄종 발생검거     건수
0  중부  살인   발생    2.0
1  중부  살인   검거    2.0
2  중부  강도   발생    3.0
3  중부  강도   검거    3.0
4  중부  강간   발생  141.0

In [20]:
crime_raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65534 entries, 0 to 65533
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구분      310 non-null    object
 1   죄종      310 non-null    object
 2   발생검거    310 non-null    object
 3   건수      310 non-null    float64
dtypes: float64(1), object(3)
memory usage: 2.0+ MB

- info() : 데이터 개요 확인하기
- rangeIndex가 65534인데, 310이다.

In [21]:
crime_raw_data["죄종"].unique()

array(['살인', '강도', '강간', '절도', '폭력', nan], dtype=object)

- 특정 컬럼에서 unique 조사
- nan 값이 들어가 있따.

In [22]:
crime_raw_data[crime_raw_data["죄종"].isnull()].head()

      구분   죄종 발생검거  건수
310  NaN  NaN  NaN NaN
311  NaN  NaN  NaN NaN
312  NaN  NaN  NaN NaN
313  NaN  NaN  NaN NaN
314  NaN  NaN  NaN NaN

In [23]:
crime_raw_data = crime_raw_data[crime_raw_data["죄종"].notnull()]

In [24]:
crime_raw_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 310 entries, 0 to 309
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구분      310 non-null    object
 1   죄종      310 non-null    object
 2   발생검거    310 non-null    object
 3   건수      310 non-null    float64
dtypes: float64(1), object(3)
memory usage: 12.1+ KB

In [25]:
crime_raw_data.head()

   구분  죄종 발생검거     건수
0  중부  살인   발생    2.0
1  중부  살인   검거    2.0
2  중부  강도   발생    3.0
3  중부  강도   검거    3.0
4  중부  강간   발생  141.0

In [26]:
crime_raw_data.tail()

     구분  죄종 발생검거      건수
305  수서  강간   검거   144.0
306  수서  절도   발생  1149.0
307  수서  절도   검거   789.0
308  수서  폭력   발생  1666.0
309  수서  폭력   검거  1431.0

------------------------------------------------------------------------------------------

## pandas pivot table
    - index, columns, values, aggfunc

In [27]:
pip install openpyxl

Requirement already satisfied: openpyxl in /Users/soysauce/miniforge3/envs/ds_study/lib/python3.11/site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in /Users/soysauce/miniforge3/envs/ds_study/lib/python3.11/site-packages (from openpyxl) (1.1.0)

Note: you may need to restart the kernel to use updated packages.

In [28]:
import pandas
import os
import openpyxl

In [29]:
df = pd.read_excel("../data/02. sales-funnel.xlsx")
df.head()

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won

#### index 설정

In [30]:
# Name 컬럼을 인덱스로 설정
pd.pivot_table(df, index="Name")

/var/folders/93/7k3h7y912r908nn6zty4dmrr0000gn/T/ipykernel_7821/1630939200.py:2: FutureWarning: pivot_table dropped a column because it failed to aggregate. This behavior is deprecated and will raise in a future version of pandas. Select only the columns that can be aggregated.
  pd.pivot_table(df, index="Name")

                              Account   Price  Quantity
Name
Barton LLC                     740150   35000  1.000000
Fritsch, Russel and Anderson   737550   35000  1.000000
Herman LLC                     141962   65000  2.000000
Jerde-Hilpert                  412290    5000  2.000000
Kassulke, Ondricka and Metz    307599    7000  3.000000
Keeling LLC                    688981  100000  5.000000
Kiehn-Spinka                   146832   65000  2.000000
Koepp Ltd                      729833   35000  2.000000
Kulas Inc                      218895   25000  1.500000
Purdy-Kunde                    163416   30000  1.000000
Stokes LLC                     239344    7500  1.000000
Trantow-Barrows                714466   15000  1.333333

In [31]:
# 멀티 인덱스 설정
df.pivot_table(index=["Name", "Rep", "Manager"])

/var/folders/93/7k3h7y912r908nn6zty4dmrr0000gn/T/ipykernel_7821/4095206251.py:2: FutureWarning: pivot_table dropped a column because it failed to aggregate. This behavior is deprecated and will raise in a future version of pandas. Select only the columns that can be aggregated.
  df.pivot_table(index=["Name", "Rep", "Manager"])

,,,Account,Price,Quantity
Name,Rep,Manager,,,
Barton LLC,John Smith,Debra Henley,740150,35000,1.000000
"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,737550,35000,1.000000
Herman LLC,Cedric Moss,Fred Anderson,141962,65000,2.000000
Jerde-Hilpert,John Smith,Debra Henley,412290,5000,2.000000
"Kassulke, Ondricka and Metz",Wendy Yule,Fred Anderson,307599,7000,3.000000
Keeling LLC,Wendy Yule,Fred Anderson,688981,100000,5.000000
Kiehn-Spinka,Daniel Hilton,Debra Henley,146832,65000,2.000000
Koepp Ltd,Wendy Yule,Fred Anderson,729833,35000,2.000000
Kulas Inc,Daniel Hilton,Debra Henley,218895,25000,1.500000
Purdy-Kunde,Cedric Moss,Fred Anderson,163416,30000,1.000000
Stokes LLC,Cedric Moss,Fred Anderson,239344,7500,1.000000
Trantow-Barrows,Craig Booker,Debra Henley,714466,15000,1.333333

In [32]:
# 멀티 인덱스 설정
df.pivot_table(index=["Manager", "Rep"])

/var/folders/93/7k3h7y912r908nn6zty4dmrr0000gn/T/ipykernel_7821/3706954838.py:2: FutureWarning: pivot_table dropped a column because it failed to aggregate. This behavior is deprecated and will raise in a future version of pandas. Select only the columns that can be aggregated.
  df.pivot_table(index=["Manager", "Rep"])

                              Account         Price  Quantity
Manager       Rep
Debra Henley  Craig Booker   720237.0  20000.000000  1.250000
              Daniel Hilton  194874.0  38333.333333  1.666667
              John Smith     576220.0  20000.000000  1.500000
Fred Anderson Cedric Moss    196016.5  27500.000000  1.250000
              Wendy Yule     614061.5  44250.000000  3.000000

#### Values 설정

In [33]:
df.head()

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won

In [34]:
df.pivot_table(index=["Manager", "Rep"], values="Price")

                                    Price
Manager       Rep
Debra Henley  Craig Booker   20000.000000
              Daniel Hilton  38333.333333
              John Smith     20000.000000
Fred Anderson Cedric Moss    27500.000000
              Wendy Yule     44250.000000

In [35]:
import numpy as np

In [36]:
# Price 컬럼 sum 연산 적용
df.pivot_table(index=["Manager", "Rep"], values="Price", aggfunc=np.sum)

                              Price
Manager       Rep
Debra Henley  Craig Booker    80000
              Daniel Hilton  115000
              John Smith      40000
Fred Anderson Cedric Moss    110000
              Wendy Yule     177000

In [37]:
df.pivot_table(index=["Manager", "Rep"], values="Price", aggfunc=[np.sum, len])

                                sum   len
                              Price Price
Manager       Rep
Debra Henley  Craig Booker    80000     4
              Daniel Hilton  115000     3
              John Smith      40000     2
Fred Anderson Cedric Moss    110000     4
              Wendy Yule     177000     4

### columns 설정

In [38]:
df.head()

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won

In [39]:
# Product를 컬럼으로 지정
df.pivot_table(index=["Manager", "Rep"], values="Price", columns="Product", aggfunc=np.sum)

Product                           CPU  Maintenance  Monitor  Software
Manager       Rep
Debra Henley  Craig Booker    65000.0       5000.0      NaN   10000.0
              Daniel Hilton  105000.0          NaN      NaN   10000.0
              John Smith      35000.0       5000.0      NaN       NaN
Fred Anderson Cedric Moss     95000.0       5000.0      NaN   10000.0
              Wendy Yule     165000.0       7000.0   5000.0       NaN

In [40]:
# Nana 값 설정 : fill_value
df.pivot_table(index=["Manager", "Rep"], values="Price", columns="Product", aggfunc=np.sum, fill_value=0) # nan을 0으로 채움

Product                         CPU  Maintenance  Monitor  Software
Manager       Rep
Debra Henley  Craig Booker    65000         5000        0     10000
              Daniel Hilton  105000            0        0     10000
              John Smith      35000         5000        0         0
Fred Anderson Cedric Moss     95000         5000        0     10000
              Wendy Yule     165000         7000     5000         0

In [41]:
# 2개 이상 index, values 설정
df.pivot_table(index=["Manager", "Rep", "Product"], values=["Price", "Quantity"], aggfunc=np.sum, fill_value=0)

                                          Price  Quantity
Manager       Rep           Product
Debra Henley  Craig Booker  CPU           65000         2
                            Maintenance    5000         2
                            Software      10000         1
              Daniel Hilton CPU          105000         4
                            Software      10000         1
              John Smith    CPU           35000         1
                            Maintenance    5000         2
Fred Anderson Cedric Moss   CPU           95000         3
                            Maintenance    5000         1
                            Software      10000         1
              Wendy Yule    CPU          165000         7
                            Maintenance    7000         3
                            Monitor        5000         2

In [42]:
# aggfunc 2개 이상 설정
df.pivot_table(
    index=["Manager", "Rep", "Product"], 
    values=["Price", "Quantity"], 
    aggfunc= [np.sum, np.mean], 
    fill_value=0,
    margins=True) # 총계(ALL) 추가

                                            sum                   mean  \
                                          Price Quantity         Price
Manager       Rep           Product
Debra Henley  Craig Booker  CPU           65000        2  32500.000000
                            Maintenance    5000        2   5000.000000
                            Software      10000        1  10000.000000
              Daniel Hilton CPU          105000        4  52500.000000
                            Software      10000        1  10000.000000
              John Smith    CPU           35000        1  35000.000000
                            Maintenance    5000        2   5000.000000
Fred Anderson Cedric Moss   CPU           95000        3  47500.000000
                            Maintenance    5000        1   5000.000000
                            Software      10000        1  10000.000000
              Wendy Yule    CPU          165000        7  82500.000000
                            Maintenance    7000        3   7000.000000
                            Monitor        5000        2   5000.000000
All                                      522000       30  30705.882353


                                         Quantity
Manager       Rep           Product
Debra Henley  Craig Booker  CPU          1.000000
                            Maintenance  2.000000
                            Software     1.000000
              Daniel Hilton CPU          2.000000
                            Software     1.000000
              John Smith    CPU          1.000000
                            Maintenance  2.000000
Fred Anderson Cedric Moss   CPU          1.500000
                            Maintenance  1.000000
                            Software     1.000000
              Wendy Yule    CPU          3.500000
                            Maintenance  3.000000
                            Monitor      2.000000
All                                      1.764706

---------

## 3. 서울시 범죄 현황 데이터 정리

In [43]:
crime_raw_data.head()

   구분  죄종 발생검거     건수
0  중부  살인   발생    2.0
1  중부  살인   검거    2.0
2  중부  강도   발생    3.0
3  중부  강도   검거    3.0
4  중부  강간   발생  141.0

In [44]:
crime_station = crime_raw_data.pivot_table(
    crime_raw_data, 
    index="구분", 
    columns=["죄종", "발생검거"], 
    aggfunc=[np.sum])

crime_station.head()

        sum
         건수
죄종       강간           강도          살인           절도              폭력
발생검거     검거     발생    검거    발생    검거   발생      검거      발생      검거      발생
구분
강남    269.0  339.0  26.0  24.0   3.0  3.0  1129.0  2438.0  2096.0  2336.0
강동    152.0  160.0  13.0  14.0   5.0  4.0   902.0  1754.0  2201.0  2530.0
강북    159.0  217.0   4.0   5.0   6.0  7.0   672.0  1222.0  2482.0  2778.0
강서    239.0  275.0  10.0  10.0  10.0  9.0  1070.0  1952.0  2768.0  3204.0
관악    264.0  322.0  10.0  12.0   7.0  6.0   937.0  2103.0  2707.0  3235.0

In [45]:
crime_station.columns # MultiIndex

MultiIndex([('sum', '건수', '강간', '검거'),
            ('sum', '건수', '강간', '발생'),
            ('sum', '건수', '강도', '검거'),
            ('sum', '건수', '강도', '발생'),
            ('sum', '건수', '살인', '검거'),
            ('sum', '건수', '살인', '발생'),
            ('sum', '건수', '절도', '검거'),
            ('sum', '건수', '절도', '발생'),
            ('sum', '건수', '폭력', '검거'),
            ('sum', '건수', '폭력', '발생')],
           names=[None, None, '죄종', '발생검거'])

In [46]:
crime_station["sum", "건수", "강도", "검거"][:5]

구분
강남    26.0
강동    13.0
강북     4.0
강서    10.0
관악    10.0
Name: (sum, 건수, 강도, 검거), dtype: float64

In [47]:
crime_station.columns = crime_station.columns.droplevel([0, 1]) # 다중 컬럼에서 특정 컬럼 제거
crime_station.columns

MultiIndex([('강간', '검거'),
            ('강간', '발생'),
            ('강도', '검거'),
            ('강도', '발생'),
            ('살인', '검거'),
            ('살인', '발생'),
            ('절도', '검거'),
            ('절도', '발생'),
            ('폭력', '검거'),
            ('폭력', '발생')],
           names=['죄종', '발생검거'])

In [48]:
crime_station.head()

죄종       강간           강도          살인           절도              폭력
발생검거     검거     발생    검거    발생    검거   발생      검거      발생      검거      발생
구분
강남    269.0  339.0  26.0  24.0   3.0  3.0  1129.0  2438.0  2096.0  2336.0
강동    152.0  160.0  13.0  14.0   5.0  4.0   902.0  1754.0  2201.0  2530.0
강북    159.0  217.0   4.0   5.0   6.0  7.0   672.0  1222.0  2482.0  2778.0
강서    239.0  275.0  10.0  10.0  10.0  9.0  1070.0  1952.0  2768.0  3204.0
관악    264.0  322.0  10.0  12.0   7.0  6.0   937.0  2103.0  2707.0  3235.0

In [49]:
crime_station.index

Index(['강남', '강동', '강북', '강서', '관악', '광진', '구로', '금천', '남대문', '노원', '도봉',
       '동대문', '동작', '마포', '방배', '서대문', '서부', '서초', '성동', '성북', '송파', '수서',
       '양천', '영등포', '용산', '은평', '종로', '종암', '중랑', '중부', '혜화'],
      dtype='object', name='구분')

- 현재 indexsms 경찰서 이름으로 되어있습니다.
- 경찰서 이름으로 구 이름을 알아내야 한다.

## 4. Python 모듈 설치

#### pip 명령
- python 공식 모듈 관리자
- pip list
- pip install module_name
- pip uninstall module_name
- mac(M1)

In [50]:
#!pip list = 
get_ipython().system("pip list")

Package                    Version
-------------------------- --------
anyio                      3.6.2
appdirs                    1.4.4
appnope                    0.1.2
argon2-cffi                21.3.0
argon2-cffi-bindings       21.2.0
arrow                      1.2.3
asttokens                  2.0.5
async-generator            1.10
attrs                      23.1.0
backcall                   0.2.0
beautifulsoup4             4.12.2
bleach                     6.0.0
blinker                    1.6.2
Bottleneck                 1.3.5
branca                     0.6.0
brotlipy                   0.7.0
certifi                    2023.5.7
cffi                       1.15.1
charset-normalizer         2.0.4
chromedriver-autoinstaller 0.4.0
click                      8.1.4
comm                       0.1.3
contourpy                  1.0.5
cryptography               39.0.1
cycler                     0.11.0
debugpy                    1.6.7
decorator                  5.1.1
defusedxml                 0.7.1
et-xmlfile                 1.1.0
exceptiongroup             1.1.1
executing                  0.8.3
fastjsonschema             2.16.3
Flask                      2.3.2
Flask-SQLAlchemy           3.0.5
folium                     0.14.0
fonttools                  4.25.0
fqdn                       1.5.1
googlemaps                 4.10.0
h11                        0.14.0
idna                       3.4
ipykernel                  6.22.0
ipython                    8.12.0
ipython-genutils           0.2.0
ipywidgets                 8.0.6
isoduration                20.11.0
itsdangerous               2.1.2
jedi                       0.18.1
Jinja2                     3.1.2
joblib                     1.1.1
jsonpointer                2.3
jsonschema                 4.17.3
jupyter                    1.0.0
jupyter_client             8.2.0
jupyter-console            6.6.3
jupyter_core               5.3.0
jupyter-events             0.6.3
jupyter_server             2.5.0
jupyter_server_terminals   0.4.4
jupyterlab-pygments        0.2.2
jupyterlab-widgets         3.0.7
kiwisolver                 1.4.4
koreanize-matplotlib       0.1.1
MarkupSafe                 2.1.1
matplotlib                 3.7.1
matplotlib-inline          0.1.6
mistune                    2.0.5
munkres                    1.1.4
mysql-connector-python     8.0.33
nbclassic                  0.5.5
nbclient                   0.7.3
nbconvert                  7.3.1
nbformat                   5.8.0
nest-asyncio               1.5.6
notebook                   6.5.4
notebook_shim              0.2.2
numexpr                    2.8.4
numpy                      1.23.5
openpyxl                   3.1.2
outcome                    1.2.0
packaging                  23.0
pandas                     1.5.3
pandocfilters              1.5.0
parso                      0.8.3
pexpect                    4.8.0
pickleshare                0.7.5
Pillow                     9.4.0
pip                        23.1.2
platformdirs               3.2.0
pooch                      1.4.0
prometheus-client          0.16.0
prompt-toolkit             3.0.36
protobuf                   3.20.3
psutil                     5.9.4
ptyprocess                 0.7.0
pure-eval                  0.2.2
pycparser                  2.21
Pygments                   2.11.2
PyMySQL                    1.1.0
pyOpenSSL                  23.0.0
pyparsing                  3.0.9
pyrsistent                 0.19.3
PySocks                    1.7.1
python-dateutil            2.8.2
python-dotenv              1.0.0
python-json-logger         2.0.7
pytz                       2022.7
PyYAML                     6.0
pyzmq                      25.0.2
qtconsole                  5.4.2
QtPy                       2.3.1
requests                   2.28.1
rfc3339-validator          0.1.4
rfc3986-validator          0.1.1
scikit-learn               1.2.2
scipy                      1.10.1
seaborn                    0.12.2
selenium                   4.10.0
Send2Trash                 1.8.0
setuptools                 65.6.3
six                        1.16.0
sniffio                    1.3.0
sortedcontainers           2.4.0
soupsieve                  2.3.1
SQLAlchemy                 2.0.18
stack-data                 0.2.0
terminado                  0.17.1
threadpoolctl              2.2.0
tinycss2                   1.2.1
tornado                    6.2
tqdm                       4.65.0
traitlets                  5.7.1
trio                       0.22.0
trio-websocket             0.10.3
typing_extensions          4.7.1
uri-template               1.2.0
urllib3                    1.26.15
wcwidth                    0.2.5
webcolors                  1.13
webdriver-manager          3.8.6
webencodings               0.5.1
websocket-client           1.5.1
Werkzeug                   2.3.6
wheel                      0.38.4
widgetsnbextension         4.0.7
wsproto                    1.2.0
xlrd                       2.0.1

#### conda 명령
- conda list
- conda install module_name
- conda uninstall module_name
- conda install -c channel_name module_name
    - 지정된 배포 체널에서 모듈 설치
- Windows, mac(intel)

## 5. Google Maps API 설치

In [51]:
# 구글 계정
# AIzaSyDBnzCaYVE8ZaxjfQs2jMG6DLX8m8Pl7M8

##### Windows, mac(intel)
- conda install -c conda-forge googlemaps

#### mac(M1)
- pip install googlemaps

In [52]:
import googlemaps

In [53]:
gmaps_key = "AIzaSyDBnzCaYVE8ZaxjfQs2jMG6DLX8m8Pl7M8"
gmaps = googlemaps.Client(key=gmaps_key)

In [54]:
gmaps.geocode("서울영등포경찰서", language="ko")

[{'address_components': [{'long_name': '608',
    'short_name': '608',
    'types': ['premise']},
   {'long_name': '국회대로',
    'short_name': '국회대로',
    'types': ['political', 'sublocality', 'sublocality_level_4']},
   {'long_name': '영등포구',
    'short_name': '영등포구',
    'types': ['political', 'sublocality', 'sublocality_level_1']},
   {'long_name': '서울특별시',
    'short_name': '서울특별시',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': '대한민국',
    'short_name': 'KR',
    'types': ['country', 'political']},
   {'long_name': '150-043',
    'short_name': '150-043',
    'types': ['postal_code']}],
  'formatted_address': '대한민국 서울특별시 영등포구 국회대로 608',
  'geometry': {'location': {'lat': 37.5260441, 'lng': 126.9008091},
   'location_type': 'ROOFTOP',
   'viewport': {'northeast': {'lat': 37.5273930802915,
     'lng': 126.9021580802915},
    'southwest': {'lat': 37.5246951197085, 'lng': 126.8994601197085}}},
  'partial_match': True,
  'place_id': 'ChIJ1TimJLaffDURptXOs0Tj6sY',
  'plus_code': {'compound_code': 'GWG2+C8 대한민국 서울특별시',
   'global_code': '8Q98GWG2+C8'},
  'types': ['establishment', 'point_of_interest', 'police']}]

-----

## Python 반복문

#### 간단한 for문 예제

In [55]:
for n in [1, 2, 3, 4]:
    print("number is", n)

number is 1
number is 2
number is 3
number is 4

#### 조금 복잡한 for문 예제

In [56]:
for n in range(0, 10):
    print(n ** 2)

0
1
4
9
16
25
36
49
64
81

#### 위 코드를 한 줄로 : list comprehension

In [57]:
[n ** 2 for n in range(0, 10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

## Pandas에 잘 맞춰진 반복문용 명령 itterrows()
- Pandas 데이터 프레임은 대부분 2차원
- 이럴때 for문을 사용하면, n번째라는 지정을 반복해서 가독률이 떨어짐
- Pandas 데이터 프레임으로 반복문을 만들 떄 itterows() 옵셔을 사용하면 편함
- 받을 때, 인덱스와 내용으로 나누어 받는 것만 주의

----

## 6. Google Maps 를 이용한 데이터 정리

In [58]:
import googlemaps

In [59]:
gmaps_key = "AIzaSyDBnzCaYVE8ZaxjfQs2jMG6DLX8m8Pl7M8"
gmaps = googlemaps.Client(key=gmaps_key)

In [60]:
# 단순 테스트 코드
gmaps.geocode("서울영등포경찰서", language="ko")

[{'address_components': [{'long_name': '608',
    'short_name': '608',
    'types': ['premise']},
   {'long_name': '국회대로',
    'short_name': '국회대로',
    'types': ['political', 'sublocality', 'sublocality_level_4']},
   {'long_name': '영등포구',
    'short_name': '영등포구',
    'types': ['political', 'sublocality', 'sublocality_level_1']},
   {'long_name': '서울특별시',
    'short_name': '서울특별시',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': '대한민국',
    'short_name': 'KR',
    'types': ['country', 'political']},
   {'long_name': '150-043',
    'short_name': '150-043',
    'types': ['postal_code']}],
  'formatted_address': '대한민국 서울특별시 영등포구 국회대로 608',
  'geometry': {'location': {'lat': 37.5260441, 'lng': 126.9008091},
   'location_type': 'ROOFTOP',
   'viewport': {'northeast': {'lat': 37.5273930802915,
     'lng': 126.9021580802915},
    'southwest': {'lat': 37.5246951197085, 'lng': 126.8994601197085}}},
  'partial_match': True,
  'place_id': 'ChIJ1TimJLaffDURptXOs0Tj6sY',
  'plus_code': {'compound_code': 'GWG2+C8 대한민국 서울특별시',
   'global_code': '8Q98GWG2+C8'},
  'types': ['establishment', 'point_of_interest', 'police']}]

In [61]:
tmp = gmaps.geocode("서울영등포경찰서", language="ko")

In [62]:
len(tmp)

1

In [63]:
type(tmp[0].get("geometry")["location"])

dict

In [64]:
print(tmp[0].get("geometry")["location"]["lat"])
print(tmp[0].get("geometry")["location"]["lng"])

37.5260441
126.9008091

In [65]:
tmp[0].get("formatted_address")

'대한민국 서울특별시 영등포구 국회대로 608'

In [66]:
tmp[0].get("formatted_address").split()

['대한민국', '서울특별시', '영등포구', '국회대로', '608']

In [67]:
tmp[0].get("formatted_address").split()[2] # 구만 뽑기

'영등포구'

In [68]:
crime_station.head()

죄종       강간           강도          살인           절도              폭력
발생검거     검거     발생    검거    발생    검거   발생      검거      발생      검거      발생
구분
강남    269.0  339.0  26.0  24.0   3.0  3.0  1129.0  2438.0  2096.0  2336.0
강동    152.0  160.0  13.0  14.0   5.0  4.0   902.0  1754.0  2201.0  2530.0
강북    159.0  217.0   4.0   5.0   6.0  7.0   672.0  1222.0  2482.0  2778.0
강서    239.0  275.0  10.0  10.0  10.0  9.0  1070.0  1952.0  2768.0  3204.0
관악    264.0  322.0  10.0  12.0   7.0  6.0   937.0  2103.0  2707.0  3235.0

- 구별, lat, lng 컬럼

In [69]:
crime_station["구별"] = np.nan
crime_station["lat"] = np.nan
crime_station["lng"] = np.nan

In [70]:
crime_station.head()

죄종       강간           강도          살인           절도              폭력          구별  \
발생검거     검거     발생    검거    발생    검거   발생      검거      발생      검거      발생
구분
강남    269.0  339.0  26.0  24.0   3.0  3.0  1129.0  2438.0  2096.0  2336.0 NaN
강동    152.0  160.0  13.0  14.0   5.0  4.0   902.0  1754.0  2201.0  2530.0 NaN
강북    159.0  217.0   4.0   5.0   6.0  7.0   672.0  1222.0  2482.0  2778.0 NaN
강서    239.0  275.0  10.0  10.0  10.0  9.0  1070.0  1952.0  2768.0  3204.0 NaN
관악    264.0  322.0  10.0  12.0   7.0  6.0   937.0  2103.0  2707.0  3235.0 NaN

죄종   lat lng
발생검거
구분
강남   NaN NaN
강동   NaN NaN
강북   NaN NaN
강서   NaN NaN
관악   NaN NaN

- 경찰서 이름에서 소속된 구이름 얻기
- 구 이름과 위도, 경도 정보를 저장할 준비
- 반복문을 이용해서 위 표의 nan을 모두 채워줍니다
- iterrows()

In [71]:
count = 0

for idx, rows in crime_station.iterrows():
    station_name = "서울" +str(idx) + "경찰서"
    tmp = gmaps.geocode(station_name, language="ko")

    tmp[0].get("formatted_address")
    tmp_gu = tmp[0].get("formatted_address")

    lat = tmp[0].get("geometry")["location"]["lat"]
    lng = tmp[0].get("geometry")["location"]["lng"]

    crime_station.loc[idx, "lat"] = lat
    crime_station.loc[idx, "lng"] = lng
    crime_station.loc[idx, "구별"] = tmp_gu.split()[2]

    print(count)
    count = count + 1

0

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [72]:
crime_station.head()

죄종       강간           강도          살인           절도              폭력          \
발생검거     검거     발생    검거    발생    검거   발생      검거      발생      검거      발생
구분
강남    269.0  339.0  26.0  24.0   3.0  3.0  1129.0  2438.0  2096.0  2336.0
강동    152.0  160.0  13.0  14.0   5.0  4.0   902.0  1754.0  2201.0  2530.0
강북    159.0  217.0   4.0   5.0   6.0  7.0   672.0  1222.0  2482.0  2778.0
강서    239.0  275.0  10.0  10.0  10.0  9.0  1070.0  1952.0  2768.0  3204.0
관악    264.0  322.0  10.0  12.0   7.0  6.0   937.0  2103.0  2707.0  3235.0

죄종     구별        lat         lng
발생검거
구분
강남    강남구  37.509435  127.066958
강동    강동구  37.528511  127.126822
강북    강북구  37.637197  127.027305
강서    양천구  37.539783  126.829997
관악    관악구  37.474395  126.951349

In [73]:
crime_station.columns.get_level_values(0)[2]

'강도'

In [74]:
crime_station.columns.get_level_values(1)[2]

'검거'

In [75]:
crime_station.columns.get_level_values(0)[2] +  crime_station.columns.get_level_values(1)[2]

'강도검거'

In [76]:
len(crime_station.columns.get_level_values(0))

13

In [77]:
tmp = [
    crime_station.columns.get_level_values(0)[n] +  crime_station.columns.get_level_values(1)[n]
    for n in range(0, len(crime_station.columns.get_level_values(0)))
]
tmp

['강간검거',
 '강간발생',
 '강도검거',
 '강도발생',
 '살인검거',
 '살인발생',
 '절도검거',
 '절도발생',
 '폭력검거',
 '폭력발생',
 '구별',
 'lat',
 'lng']

In [78]:
tmp, len(tmp), len(crime_station.columns.get_level_values(0))

(['강간검거',
  '강간발생',
  '강도검거',
  '강도발생',
  '살인검거',
  '살인발생',
  '절도검거',
  '절도발생',
  '폭력검거',
  '폭력발생',
  '구별',
  'lat',
  'lng'],
 13,
 13)

In [79]:
crime_station.columns = tmp

In [80]:
crime_station.head()

,강간검거,강간발생,강도검거,강도발생,살인검거,살인발생,절도검거,절도발생,폭력검거,폭력발생,구별,lat,lng
구분,,,,,,,,,,,,,
강남,269.0,339.0,26.0,24.0,3.0,3.0,1129.0,2438.0,2096.0,2336.0,강남구,37.509435,127.066958
강동,152.0,160.0,13.0,14.0,5.0,4.0,902.0,1754.0,2201.0,2530.0,강동구,37.528511,127.126822
강북,159.0,217.0,4.0,5.0,6.0,7.0,672.0,1222.0,2482.0,2778.0,강북구,37.637197,127.027305
강서,239.0,275.0,10.0,10.0,10.0,9.0,1070.0,1952.0,2768.0,3204.0,양천구,37.539783,126.829997
관악,264.0,322.0,10.0,12.0,7.0,6.0,937.0,2103.0,2707.0,3235.0,관악구,37.474395,126.951349

In [81]:
# 데이터 저장
crime_station.to_csv("../data/02. crime_in_Seoul.raw.csv", sep=",", encoding="utf-8")

In [82]:
pd.read_csv("../data/02. crime_in_Seoul_raw.csv")

,구분,강간검거,강간발생,강도검거,강도발생,살인검거,살인발생,절도검거,절도발생,폭력검거,폭력발생,구별,lat,lng
0,강남,269.0,339.0,26.0,24.0,3.0,3.0,1129.0,2438.0,2096.0,2336.0,강남구,37.509435,127.066958
1,강동,152.0,160.0,13.0,14.0,5.0,4.0,902.0,1754.0,2201.0,2530.0,강동구,37.528511,127.126822
2,강북,159.0,217.0,4.0,5.0,6.0,7.0,672.0,1222.0,2482.0,2778.0,강북구,37.637388,127.027324
3,강서,239.0,275.0,10.0,10.0,10.0,9.0,1070.0,1952.0,2768.0,3204.0,양천구,37.539783,126.829997
4,관악,264.0,322.0,10.0,12.0,7.0,6.0,937.0,2103.0,2707.0,3235.0,관악구,37.474379,126.950975
5,광진,234.0,279.0,6.0,11.0,4.0,4.0,1057.0,2636.0,2011.0,2392.0,광진구,37.542873,127.083821
6,구로,181.0,273.0,13.0,10.0,9.0,9.0,861.0,1910.0,2680.0,3164.0,구로구,37.494931,126.886731
7,금천,143.0,175.0,7.0,7.0,6.0,6.0,654.0,1264.0,1946.0,2193.0,관악구,37.481405,126.909951
8,남대문,52.0,57.0,4.0,5.0,1.0,1.0,429.0,946.0,832.0,890.0,중구,37.554758,126.973498
9,노원,142.0,159.0,9.0,6.0,6.0,5.0,740.0,1857.0,2124.0,2516.0,노원구,37.642361,127.071403
10,도봉,121.0,123.0,5.0,5.0,3.0,3.0,492.0,866.0,1309.0,1441.0,도봉구,37.653359,127.052682
11,동대문,158.0,190.0,12.0,10.0,5.0,5.0,1071.0,1940.0,2377.0,2642.0,동대문구,37.585061,127.045768
12,동작,149.0,325.0,7.0,7.0,6.0,8.0,554.0,1226.0,1444.0,1661.0,동작구,37.513069,126.942808
13,마포,320.0,399.0,7.0,4.0,4.0,4.0,940.0,2527.0,2500.0,2939.0,마포구,37.550814,126.954028
14,방배,51.0,78.0,5.0,4.0,1.0,1.0,293.0,472.0,446.0,500.0,서초구,37.481545,126.982999
15,서대문,147.0,175.0,4.0,5.0,7.0,6.0,752.0,1503.0,1644.0,1976.0,서대문구,37.564785,126.966776
16,서부,49.0,54.0,2.0,4.0,4.0,4.0,389.0,781.0,980.0,1128.0,은평구,37.602140,126.921307
17,서초,220.0,350.0,5.0,9.0,4.0,4.0,814.0,1733.0,1583.0,1838.0,서초구,37.495605,127.005250
18,성동,78.0,104.0,5.0,3.0,5.0,4.0,896.0,1296.0,1408.0,1619.0,성동구,37.561731,127.036381
19,성북,75.0,103.0,3.0,3.0,2.0,2.0,381.0,790.0,1004.0,1176.0,성북구,37.589727,127.016132
20,송파,184.0,234.0,12.0,15.0,8.0,9.0,1048.0,2543.0,2808.0,3289.0,송파구,37.501906,127.127151
21,수서,144.0,177.0,16.0,15.0,2.0,2.0,789.0,1149.0,1431.0,1666.0,강남구,37.493490,127.077212
22,양천,108.0,131.0,7.0,7.0,5.0,5.0,755.0,1719.0,1918.0,2250.0,양천구,37.516567,126.865676
23,영등포,225.0,356.0,14.0,19.0,13.0,13.0,940.0,2341.0,3007.0,3593.0,영등포구,37.525788,126.901006
24,용산,214.0,251.0,10.0,9.0,4.0,4.0,599.0,1489.0,2008.0,2384.0,용산구,37.541121,126.967693
25,은평,93.0,102.0,5.0,5.0,2.0,2.0,501.0,885.0,1328.0,1536.0,은평구,37.628360,126.928723
26,종로,113.0,137.0,3.0,6.0,0.0,4.0,389.0,952.0,1135.0,1291.0,종로구,37.575558,126.984867
27,종암,42.0,51.0,5.0,5.0,1.0,2.0,344.0,680.0,815.0,932.0,성북구,37.602059,127.032158
28,중랑,150.0,164.0,14.0,14.0,7.0,8.0,1052.0,1691.0,2712.0,3164.0,중랑구,37.618692,127.104714
29,중부,96.0,141.0,3.0,3.0,2.0,2.0,485.0,1204.0,1164.0,1335.0,중구,37.563646,126.989580
30,혜화,64.0,101.0,6.0,6.0,2.0,2.0,379.0,988.0,842.0,972.0,종로구,37.571840,126.998856

## 7. 구별 데이터로 정리

In [88]:
crime_anal_sation = pd.read_csv(
    "../data/02. crime_in_Seoul_raw.csv", index_col=0, encoding='utf-8')  # index_col "구분"을 인덱스 컬럼으로 설정
crime_anal_sation.head()

,강간검거,강간발생,강도검거,강도발생,살인검거,살인발생,절도검거,절도발생,폭력검거,폭력발생,구별,lat,lng
구분,,,,,,,,,,,,,
강남,269.0,339.0,26.0,24.0,3.0,3.0,1129.0,2438.0,2096.0,2336.0,강남구,37.509435,127.066958
강동,152.0,160.0,13.0,14.0,5.0,4.0,902.0,1754.0,2201.0,2530.0,강동구,37.528511,127.126822
강북,159.0,217.0,4.0,5.0,6.0,7.0,672.0,1222.0,2482.0,2778.0,강북구,37.637388,127.027324
강서,239.0,275.0,10.0,10.0,10.0,9.0,1070.0,1952.0,2768.0,3204.0,양천구,37.539783,126.829997
관악,264.0,322.0,10.0,12.0,7.0,6.0,937.0,2103.0,2707.0,3235.0,관악구,37.474379,126.950975

In [90]:
crime_anal_gu = pd.pivot_table(crime_anal_sation, index="구별", aggfunc=np.sum)

del crime_anal_gu["lat"]
crime_anal_gu.drop("lng", axis=1, inplace=True)

crime_anal_gu.head()

      강간검거   강간발생  강도검거  강도발생  살인검거  살인발생    절도검거    절도발생    폭력검거    폭력발생
구별
강남구  413.0  516.0  42.0  39.0   5.0   5.0  1918.0  3587.0  3527.0  4002.0
강동구  152.0  160.0  13.0  14.0   5.0   4.0   902.0  1754.0  2201.0  2530.0
강북구  159.0  217.0   4.0   5.0   6.0   7.0   672.0  1222.0  2482.0  2778.0
관악구  407.0  497.0  17.0  19.0  13.0  12.0  1591.0  3367.0  4653.0  5428.0
광진구  234.0  279.0   6.0  11.0   4.0   4.0  1057.0  2636.0  2011.0  2392.0

In [91]:
# 검거율 생성
# 하나의 컬럼을 다른 컬럼으로 나누기

crime_anal_gu["강도검거"] / crime_anal_gu["강도발생"]

구별
강남구     1.076923
강동구     0.928571
강북구     0.800000
관악구     0.894737
광진구     0.545455
구로구     1.300000
노원구     1.500000
도봉구     1.000000
동대문구    1.200000
동작구     1.000000
마포구     1.750000
서대문구    0.800000
서초구     0.769231
성동구     1.666667
성북구     1.000000
송파구     0.800000
양천구     1.000000
영등포구    0.736842
용산구     1.111111
은평구     0.777778
종로구     0.750000
중구      0.875000
중랑구     1.000000
dtype: float64

In [93]:
# 다수의 컬럼을 다른 컬럼으로 나누기

crime_anal_gu[["강도검거", "살인검거"]].div(crime_anal_gu["강도발생"],axis=0).head()

         강도검거      살인검거
구별
강남구  1.076923  0.128205
강동구  0.928571  0.357143
강북구  0.800000  1.200000
관악구  0.894737  0.684211
광진구  0.545455  0.363636

In [96]:
# 다수의 컬럼을 다수의 컬럼으로 각각 나누기

num = ["강간검거", "강도검거", "살인검거", "절도검거", "폭력검거"]
den = ["강간발생", "강도발생", "살인발생", "절도발생", "폭력발생"]

crime_anal_gu[num].div(crime_anal_gu[den].values).head()

         강간검거      강도검거      살인검거      절도검거      폭력검거
구별
강남구  0.800388  1.076923  1.000000  0.534709  0.881309
강동구  0.950000  0.928571  1.250000  0.514253  0.869960
강북구  0.732719  0.800000  0.857143  0.549918  0.893449
관악구  0.818913  0.894737  1.083333  0.472527  0.857222
광진구  0.838710  0.545455  1.000000  0.400986  0.840719

In [99]:
target = ["강간검거율", "강도검거율", "살인검거율", "절도검거율", "폭력검거율"]

num = ["강간검거", "강도검거", "살인검거", "절도검거", "폭력검거"]
den = ["강간발생", "강도발생", "살인발생", "절도발생", "폭력발생"]

crime_anal_gu[target] = crime_anal_gu[num].div(crime_anal_gu[den].values) * 100
crime_anal_gu.head()

,강간검거,강간발생,강도검거,강도발생,살인검거,살인발생,절도검거,절도발생,폭력검거,폭력발생,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율
구별,,,,,,,,,,,,,,,
강남구,413.0,516.0,42.0,39.0,5.0,5.0,1918.0,3587.0,3527.0,4002.0,80.038760,107.692308,100.000000,53.470867,88.130935
강동구,152.0,160.0,13.0,14.0,5.0,4.0,902.0,1754.0,2201.0,2530.0,95.000000,92.857143,125.000000,51.425314,86.996047
강북구,159.0,217.0,4.0,5.0,6.0,7.0,672.0,1222.0,2482.0,2778.0,73.271889,80.000000,85.714286,54.991817,89.344852
관악구,407.0,497.0,17.0,19.0,13.0,12.0,1591.0,3367.0,4653.0,5428.0,81.891348,89.473684,108.333333,47.252747,85.722181
광진구,234.0,279.0,6.0,11.0,4.0,4.0,1057.0,2636.0,2011.0,2392.0,83.870968,54.545455,100.000000,40.098634,84.071906

In [102]:
# 필요없는 컬럼 제거 

#del crime_anal_gu["강간검거"]
del crime_anal_gu["강도검거"]
crime_anal_gu.drop(["살인검거", "절도검거", "폭력검거"], axis=1, inplace=True)
crime_anal_gu.head()

,강간발생,강도발생,살인발생,절도발생,폭력발생,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율
구별,,,,,,,,,,
강남구,516.0,39.0,5.0,3587.0,4002.0,80.038760,107.692308,100.000000,53.470867,88.130935
강동구,160.0,14.0,4.0,1754.0,2530.0,95.000000,92.857143,125.000000,51.425314,86.996047
강북구,217.0,5.0,7.0,1222.0,2778.0,73.271889,80.000000,85.714286,54.991817,89.344852
관악구,497.0,19.0,12.0,3367.0,5428.0,81.891348,89.473684,108.333333,47.252747,85.722181
광진구,279.0,11.0,4.0,2636.0,2392.0,83.870968,54.545455,100.000000,40.098634,84.071906

In [106]:
# 100보다 큰 숫자 찾아서 바꾸기 (= 100으로)
crime_anal_gu[crime_anal_gu[target] > 100] = 100  
crime_anal_gu.head()

,강간발생,강도발생,살인발생,절도발생,폭력발생,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율
구별,,,,,,,,,,
강남구,516.0,39.0,5.0,3587.0,4002.0,80.038760,100.000000,100.000000,53.470867,88.130935
강동구,160.0,14.0,4.0,1754.0,2530.0,95.000000,92.857143,100.000000,51.425314,86.996047
강북구,217.0,5.0,7.0,1222.0,2778.0,73.271889,80.000000,85.714286,54.991817,89.344852
관악구,497.0,19.0,12.0,3367.0,5428.0,81.891348,89.473684,100.000000,47.252747,85.722181
광진구,279.0,11.0,4.0,2636.0,2392.0,83.870968,54.545455,100.000000,40.098634,84.071906

In [110]:
# 컬럼 이름 변경

crime_anal_gu.rename(columns={"강간발생" : "강간", "강도발생" : "강도", "살인발생" : "살인", "절도발생" : "절도", "폭력발생" : "폭력"}, inplace=True)
crime_anal_gu

,강간,강도,살인,절도,폭력,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율
구별,,,,,,,,,,
강남구,516.0,39.0,5.0,3587.0,4002.0,80.038760,100.000000,100.000000,53.470867,88.130935
강동구,160.0,14.0,4.0,1754.0,2530.0,95.000000,92.857143,100.000000,51.425314,86.996047
강북구,217.0,5.0,7.0,1222.0,2778.0,73.271889,80.000000,85.714286,54.991817,89.344852
관악구,497.0,19.0,12.0,3367.0,5428.0,81.891348,89.473684,100.000000,47.252747,85.722181
광진구,279.0,11.0,4.0,2636.0,2392.0,83.870968,54.545455,100.000000,40.098634,84.071906
구로구,273.0,10.0,9.0,1910.0,3164.0,66.300366,100.000000,100.000000,45.078534,84.702908
노원구,159.0,6.0,5.0,1857.0,2516.0,89.308176,100.000000,100.000000,39.849219,84.419714
도봉구,123.0,5.0,3.0,866.0,1441.0,98.373984,100.000000,100.000000,56.812933,90.839695
동대문구,190.0,10.0,5.0,1940.0,2642.0,83.157895,100.000000,100.000000,55.206186,89.969720
동작구,325.0,7.0,8.0,1226.0,1661.0,45.846154,100.000000,75.000000,45.187602,86.935581
마포구,399.0,4.0,4.0,2527.0,2939.0,80.200501,100.000000,100.000000,37.198259,85.062947
서대문구,175.0,5.0,6.0,1503.0,1976.0,84.000000,80.000000,100.000000,50.033267,83.198381
서초구,428.0,13.0,5.0,2205.0,2338.0,63.317757,76.923077,100.000000,50.204082,86.783576
성동구,104.0,3.0,4.0,1296.0,1619.0,75.000000,100.000000,100.000000,69.135802,86.967264
성북구,154.0,8.0,4.0,1470.0,2108.0,75.974026,100.000000,75.000000,49.319728,86.290323
송파구,234.0,15.0,9.0,2543.0,3289.0,78.632479,80.000000,88.888889,41.211168,85.375494
양천구,406.0,17.0,14.0,3671.0,5454.0,85.467980,100.000000,100.000000,49.713974,85.918592
영등포구,356.0,19.0,13.0,2341.0,3593.0,63.202247,73.684211,100.000000,40.153780,83.690509
용산구,251.0,9.0,4.0,1489.0,2384.0,85.258964,100.000000,100.000000,40.228341,84.228188
은평구,156.0,9.0,6.0,1666.0,2664.0,91.025641,77.777778,100.000000,53.421369,86.636637
종로구,238.0,12.0,6.0,1940.0,2263.0,74.369748,75.000000,33.333333,39.587629,87.361909
중구,198.0,8.0,3.0,2150.0,2225.0,74.747475,87.500000,100.000000,42.511628,89.707865
중랑구,164.0,14.0,8.0,1691.0,3164.0,91.463415,100.000000,87.500000,62.211709,85.714286